body {
  margin: 0px;
  padding: 0px;
  font-family: "Vollkorn", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
p,
ul,
li,
span,
img,
a,
nav,
blockquote {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
