.header-bg {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-sessao {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: right;
}

.header-sessao a {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.header img {
  width: 60%;
}
