.header-bg {
  background-image: linear-gradient(135deg, rgb(72, 14, 159), rgb(54, 4, 127));
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-sessao {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  justify-content: right;
}

.header-sessao a {
  color: white;
  background: rgba(38, 4, 88, 0.452);
  padding: 10px;
  border-radius: 4px;
}

.header img {
  width: 60%;
}
