.estrutura {
  display: grid;
}

.introducao {
  display: grid;
  grid-template-columns: auto 3fr 200px;
  gap: 30px;
}

.icones-links a {
  padding: 20px;
}

.icones-links li {
  display: grid;
  box-shadow: 5px 5px 15px 0px rgb(44 44 44 / 15%);
  margin: 30px;
  width: 130px;
  transition: 0.1s ease-out;
  border-radius: 4px;
}

.icones-links li:hover {
  background-color: #af7bfb;
}

.sobre {
  padding: 40px 0px;
}

.sobre-conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 40px;
  gap: 0px 30px;
}

.sobre-conteudo h1,
span {
  color: #b07dfb;
}

.caracteristicas {
  display: grid;
  grid-template-columns: 100px 100px;
  align-items: flex-start;
}

.caracteristicas div {
  box-shadow: 5px 5px 15px 0px rgb(44 44 44 / 15%);
  width: 70px;
  align-items: center;
}

.numero {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  text-align: center;
  padding: 3px;
  border-radius: 4px 4px 0px 0px;
  color: #b07dfb;
  padding: 10px 0px;
}

.tipo {
  display: block;
  text-align: center;
}

.sobre-lobos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.sobre-lobos > h2 {
  grid-column: 1/-1;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.sobre-lobos span {
  width: 30ch;
}

.sobre-lobos p {
  color: rgba(0, 0, 0, 0.7);
}

.imagem-1 {
  grid-row: span 2;
  width: 100%;
  align-self: flex-end;
}

.imagem-2 {
  grid-column: 2;
  grid-row: 3;
  align-self: flex-end;
  width: 100%;
}

.propaganda img {
  margin-top: 30px;
}

.citacao {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  box-shadow: 5px 5px 15px 0px rgb(44 44 44 / 15%);
  padding: 25px;
  border-radius: 4px;
  margin: 30px 0px;
}

.citacao h2 {
  color: white;
  text-align: center;
  margin: 0px 40px;
}

.infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 50px;
}

.infos ul {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  box-shadow: 5px 5px 15px 0px rgb(44 44 44 / 15%);
  padding: 30px;
  border-radius: 4px;
  color: white;
  align-self: flex-start;
}

.infos li + li {
  border-top: 2px solid #af7bfb;
}

.infos li {
  padding: 15px;
}

.infos p {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.imagem-3 img {
  width: 100%;
}
